# Hugo build output
/public/
/resources/

# Netlify
.netlify/

# Node.js (if used for tooling)
node_modules/

# macOS, Windows junk
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Log files
*.log
